html,
body {
  height: 100%;
  font-family: Karla, Avenir Next;
  padding: 0;
  margin: 0;
}

p,
button {
  padding: 0;
  margin: 0;
}

* {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}

img {
  user-select: none;
  pointer-events: none;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

#divider {
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.1;
  margin: 20px auto;
}

/* -------------------------------------------------------------------------------------------------------------- */

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 4000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header #logo-header {
  display: flex;
  flex-direction: row;
  margin: auto 7%;
}

#header #logo-header #logo-text {
  height: 25px;
  font-size: 20px;
  border-bottom: 5px solid royalblue;
  font-weight: bold;
  margin: auto 0;
}

#header #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 7%;
}

#header #navbar #home {
  margin: auto 15px;
  font-size: 18px;
  font-weight: bold;
  color: #8395a7;
  cursor: pointer;
}

#header #navbar #login-button {
  width: 120px;
  height: 45px;
  border: none;
  font-family: Karla, Avenir Next;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: royalblue;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#login-button:hover {
  opacity: 0.75;
  cursor: pointer;
  transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------- */

#hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
}

#hero #hero-title {
  font-size: 32px;
  font-weight: 700;
  color: #8395a7;
  margin-bottom: 15px;
}

#hero #hero-title-span {
  color: royalblue;
  font-size: 43px;
}

#hero #hero-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

#hero #hero-container p {
  padding: 15px 0;
  font-size: 15px;
  font-weight: 500;
  color: #8395a7;
  cursor: pointer;
}

#hero #hero-container p:hover {
  font-weight: bold;
  color: royalblue;
}

.chosen {
  color: royalblue;
  font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------- */

#about-team {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: rgb(245, 243, 243);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-team #team-container {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  margin: auto 7%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#about-team #team-container #left {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-team #team-container #left #team-image {
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#about-team #team-container #right {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-team #team-container #right #section-title {
  font-size: 25px;
  font-weight: bold;
  color: #8395a7;
  padding-bottom: 20px;
}

#about-team #team-container #right #section-desc {
  position: relative;
  width: 95%;
  color: black;
  font-weight: 500;
  font-size: 15px;
  line-height: 37px;
}

#about-team #team-container #right #section-desc a {
  border-bottom: 3px solid royalblue;
  padding: 2px 0;
  font-weight: bold;
}

#about-team #team-container #right #section-desc span {
  font-weight: 600;
  color: #8395a7;
}

/* -------------------------------------------------------------------------------------------------------- */

@media (max-width: 760px) {
  #about-team #team-container #left {
    display: none;
  }

  #about-team #team-container #right {
    width: 100%;
  }
}
