html, body {
    font-family: Google Sans;
    padding: 0;
    margin: 0;
}

* {
    user-select: none;
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

img {
    pointer-events: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------- */

#login-box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    z-index: 2000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

#login-box #logo-login {
    width: 105px;
    margin: 50px auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 13px;
    border-bottom: 5px solid royalblue;
}

#login-box p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
}

#login-box #back {
    font-size: 13px;
    font-weight: 500;
    padding-top: 7px;
    color: #888787;
}

#login-box #sign-in-name {
    visibility: hidden;
}

#login-box #close-login-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #888787;
    cursor: pointer;
}

#login-box #sign-in-name, #login-box #sign-in-email, #login-box #sign-in-pwd {
    position: relative;
    width: 90%;
    height: 42px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    font-family: Google Sans;
    background-color: none;
}

#login-box #sign-in-name::placeholder, #login-box #sign-in-email::placeholder, #login-box #sign-in-pwd::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

#login-box #buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

#login-box #buttons #sign-in-submit {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Google Sans;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
} 

#login-box #sign-in-submit:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#login-box #buttons #login-register-button {
    padding: 0;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

#register-box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    z-index: 2000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

#register-box #logo-register {
    width: 105px;
    margin: 50px auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 13px;
    border-bottom: 5px solid royalblue;
}

#register-box p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
}

#register-box #back {
    font-size: 13px;
    font-weight: 500;
    padding-top: 7px;
    color: #888787;
}

#register-box #close-register-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #888787;
    cursor: pointer;
}

#register-box #sign-up-name, #register-box #sign-up-email, #register-box #sign-up-pwd {
    position: relative;
    width: 90%;
    height: 42px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    font-family: Google Sans;
    background-color: none;
}

#register-box #sign-up-name::placeholder, #register-box #sign-up-email::placeholder, #register-box #sign-up-pwd::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

#register-box #buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

#register-box #buttons #sign-up-submit {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Google Sans;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
} 

#register-box #sign-up-submit:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#register-box #buttons #register-login-button {
    padding: 0;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

#home {
    position: absolute;
    width: 100%;
    height: 100%;
}

#home #header {
    position: relative;
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home #header #logo {
    height: 30px;
    font-weight: bold;
    margin: auto 0 auto 7%;
    font-size: 20px;
    border-bottom: 4px solid royalblue;
}

#home #header #navbar {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: auto auto;
}

#home #header #navbar li {
    font-size: 15px;
    font-weight: 500;
}

#home #header #navbar li:hover {
    cursor: pointer;
    color: royalblue;
    transition: 0.5s;
}

#home #header #sign-in-button {
    width: 150px;
    height: 42px;
    margin: auto 7%;
    font-family: Google Sans;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------------------------------------------------- */

#home #hero {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('images/hero_image.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

#home #hero div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#home #hero div #hero-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7%;
}

#home #hero div #hero-text #hero-title {
    font-size: 25px;
    color: #A7A2A2;
    font-weight: bold;
}

#home #hero div #hero-text #hero-title #hero-title-span {
    color: royalblue;
    font-weight: bold;
    font-size: 40px;
}

#home #hero div #hero-text #hero-subtitle {
    padding-top: 10px;
    font-size: 18px;
    color: #A7A2A2;
    line-height: 27px;
}

#home #hero div #hero-text #hero-subtitle span {
    font-size: 17px;
    font-weight: 600;
}

#home #see-more-button {
    width: 20px;
    height: 20px;
    font-size: 22px;
    position: absolute;
    bottom: 30px;
    color: royalblue;
    margin: 50px auto;
    right: 0;
    left: 0;
    margin: auto;
}

/* -------------------------------------------------------------------------------------------------------- */

#responsive-header {
    width: 100%;
    height: 80px;   
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#responsive-header #menu-options {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#responsive-header #menu-bar {
    font-size: 25px;
    padding: 5px;
    padding-top: 30px;
    padding-left: 25px;
    color: rgb(97, 96, 96);
    display: none;
}

#responsive-header #menu-options p {
    padding: 5px;
    margin: 0;
    text-align: left;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(245, 245, 245);
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    font-size: 15px;
}

#responsive-header #menu-options p:hover {
    color: black;
    cursor: pointer;
}

#responsive-header #logo {
    height: 30px;
    font-weight: bold;
    margin: auto 0 auto 7%;
    font-size: 20px;
    border-bottom: 4px solid royalblue;
}

#responsive-header #right {
    margin-right: 25px;
}

#responsive-header #right #get-updates-button {
    padding: 0 24px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 150px;
    height: 42px;
    font-family: Google Sans;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

#responsive-header #right #get-updates-button:hover {
    background-color: #184d92;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------------- */

#about {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    text-align: center;
}

#about-title {
    font-size: 32px;
    color: #77797c;
    font-weight: bold;
    padding: 20px 0;
}

#about-content {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    margin: 0 auto;
}

#about-arrow {
    height: 1px;
    width: 75px;
    background-color: #bdbaba;
    opacity: 0.3;
    margin: 0 auto;
}

.about-section {
    width: 95%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section .about-section-right {
    position: relative;
    min-width: 15%;
    width: 30%;
    text-align: left;
    margin: 10px;
}

.about-section .about-section-left {
    position: relative;
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.about-section .about-section-left .about-section-title {
    font-size: 20px;
    color: #77797c;
    font-weight: bold;
    padding: 0 0 15px 0;
}

.about-section .about-section-left .about-section-content {
    width: 90%;
    font-size: 16px;
    height: auto;
}

.project-card {
    width: 275px;
    height: 235px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    margin: 20px auto;
}

.project-card .project-card-top {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card .project-card-top .project-top-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card .project-card-top .project-creation-date {
    font-size: 11px;
    color: rgba(109, 102, 102, 0.5);
    padding: 0 10px;
    margin: auto 0;
    font-weight: 500;
}

.project-card .project-card-top .project-options-toggle-status {
    font-size: 15px;
    color: rgba(109, 102, 102, 0.5);
    padding: 0 10px;
    margin: auto 0;
}

.project-card .project-card-top .project-options-toggle-status:hover {
    color: royalblue;
    transition: 0.5s;
}

.project-card .project-card-top .project-options-delete {
    font-size: 15px;
    color: rgba(109, 102, 102, 0.5);
    padding: 0 10px;
    margin: auto 0;
}

.project-card .project-card-top .project-options-delete:hover {
    color: royalblue;
    transition: 0.5s;
}

.project-card .model-display {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
    background-color: #DEE2E8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.project-card .model-display p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 50, 50);
    margin: auto 0;
}

.project-card .model-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 50, 50);
    padding: 15px 0 5px 0;
}

.project-card .model-classes {
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 5px 0;
    color: rgb(51, 50, 50);
}

.project-card .model-status-node {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-card .model-training-status {
    position: relative;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 5px 0;
    color: rgba(121, 116, 116, 1);
}

.project-card .model-training-status i {
    color: rgba(121, 116, 116, 1);
    font-size: 12px;
    padding: 0 5px;
}

.project-card .model-status {
    position: relative;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 5px 0;
    color: #10ac84;
}

.project-card .model-status i {
    font-size: 10px;
    padding: 0 5px;
}

.project-card .model-classes span {
    font-size: 16px;
    font-weight: 600;
}

.project-card .model-type {
    color: rgb(109, 102, 102);
    font-size: 13px;
    font-weight: 400;
    padding: 0 0 5px 0;
    cursor: pointer;
}

.project-card .model-type i {
    padding: 0 5px;
    font-size: 14px;
}

.project-card .model-type:hover {
    color: royalblue;
    /* font-weight: bold; */
    transition: 0.5s;
}

.project-card .model-divider {
    width: 110px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.training-data-card {
    width: 150px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: 15px auto 10px auto;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    flex-shrink: 0;
}

.training-data-card .tdc-top {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(212, 206, 206, 0.25);
}

.training-data-card .tdc-top .class-label {
    width: 70%;
    height: 35px;
    background: none;
    border-bottom: 1px solid rgba(65, 105, 225, 0.5);
    font-family: Raleway, Avenir Next;
    font-size: 13px;
    color: rgba(57, 58, 59, 0.75);
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

.training-data-card .tdc-top .class-instances {
    font-size: 11px;
    color: rgba(121, 116, 116, 0.75);
    padding: 5px;
}

.training-data-card .tdc-bottom {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.training-data-card .tdc-bottom .file-choose {
    display: none;
}

.training-data-card .tdc-bottom .upload-button {
    width: 100px;
    height: 35px;
    background-color: royalblue;
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: Raleway, Avenir Next;
    border-radius: 2px;
    margin: auto 5px;
}

.training-data-card .tdc-bottom .upload-button i {
    font-size: 13px;
    padding: 0 5px;
}

.training-data-card .tdc-bottom .upload-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.training-data-card .tdc-bottom .delete-button {
    width: 35px;
    height: 35px;
    background-color: royalblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Raleway, Avenir Next;
    border-radius: 2px;
    margin: auto 5px;
}

.training-data-card .tdc-bottom .delete-button i {
    font-size: 15px;
    padding: 0 5px;
}

.training-data-card .tdc-bottom .delete-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------------- */

#integration {
    width: 100%;
    height: auto;
    position: absolute;
    top: 200%;
    text-align: center;
}

#integration-title {
    font-size: 32px;
    color: #77797c;
    font-weight: bold;
    padding: 20px 0;
}

#integration-content {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    margin: 0 auto;
}

#editor-view {
    margin: 50px auto;
    width: 75%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editor-view #code-editor {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: left;
    font-family: Google Sans;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#editor-view #code-editor p {
    line-height: 21px;
    color: #222f3e;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    user-select: text;
}

.ce-keyword {
    font-weight: 700;
    color: royalblue;
    user-select: text;
}

.ce-var {
    font-weight: 500;
    color: royalblue;
    user-select: text;
}

.ce-function {
    font-weight: 700;
    color: #2e86de;
    user-select: text;
}

.ce-comment {
    /* font-weight: 500; */
    color: #5b5c5e;
    user-select: text;
}

.ce-string {
    font-weight: 500;
    color: #5b5c5e;
}

.ce-key {    
    color: royalblue;
    padding-left: 30px;
    user-select: text;
}

.ce-value {
    font-weight: 500;
    color: #777777;
}

.ce-param {
    font-weight: 600;
    font-style: oblique;
    color: #ff9f43;
}

#editor-view #code-editor #copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #6772e4;
    cursor: pointer;
}

#editor-view #code-editor #copy-button:hover {
    color: #6771e46c;
    transition: 0.5s;
}

#editor-view #output {
    text-align: left;
    padding-top: 20px;
    font-size: 17px;
    font-weight: bold;
}

#editor-view #code-output {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fafafa;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
}

#editor-view #code-output p {
    /* font-weight: 600; */
    line-height: 21px;
    color: #222f3e;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    user-select: text;    
    font-family: Google Sans;
    overflow: scroll;
}

#editor-view #code-output p .ce-key {
    font-weight: 600;
    color: royalblue;
    padding-left: 30px;
    user-select: text;    
}

#editor-view #code-output p .ce-indent {
    padding-left: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */

.message-card {
    position: fixed;
    left: 40px;
    bottom: 20px;
    width: auto;
    height: 50px;
    z-index: 5000;
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-card p {
    font-size: 14px;
    font-weight: 600;
    color: royalblue;
    padding: 0 20px;
    margin: auto 0;
}

.message-card p i {
    font-size: 15px;
    padding: 0 7px 0 0;
}

.message-card.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* -------------------------------------------------------------------------------------------------------------- */

@media (max-width: 835px) {
    #home #hero {
        background-image: url('images/hero_image.png');
        background-origin: content-box;
        background-position: center;
    }

    #home #header {
        display: none;
    }

    #responsive-header {
        display: block;
    }
    
    #responsive-header #menu {
        display: none;
        flex-direction: column;
        visibility: hidden;
        margin-left: 0;
    }
    
    #responsive-header #menu p {
        width: 100%;
        height: 30px;
    }
    
    #responsive-header #menu-bar {
        display: block;
    }

    #hero {
        padding-top: 75px;
    }

    #integration-content {
        width: 70%;
    }
}

@media (max-width: 625px) {
    .about-section .about-section-left {
        width: 90%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-section {
        width: 80%;
        height: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    .about-section .about-section-right {
        position: relative;
        min-width: 15%;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .about-section .about-section-left {
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-section .about-section-left .about-section-title {
        width: 100%;
        text-align: center;
    }

    .about-section .about-section-left .about-section-content {
        width: 100%;
        text-align: center;
    }
}