html, body {
    height: 100%;
    font-family: Raleway, Avenir Next;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
}

img {
    user-select: none;
    pointer-events: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

#divider {
    width: 250px;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    margin: 20px auto;
}

/* -------------------------------------------------------------------------------------------------------------- */

#login-box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    z-index: 2000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

#login-box #logo-login {
    width: 105px;
    margin: 50px auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 13px;
    border-bottom: 5px solid royalblue;
}

#login-box p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
}

#login-box #back {
    font-size: 13px;
    font-weight: 500;
    padding-top: 7px;
    color: #888787;
}

#login-box #sign-in-name {
    visibility: hidden;
}

#login-box #close-login-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #888787;
    cursor: pointer;
}

#login-box #sign-in-name, #login-box #sign-in-email, #login-box #sign-in-pwd {
    position: relative;
    width: 90%;
    height: 42px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    font-family: Raleway, Avenir Next;
    background-color: none;
}

#login-box #sign-in-name::placeholder, #login-box #sign-in-email::placeholder, #login-box #sign-in-pwd::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

#login-box #buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

#login-box #buttons #sign-in-submit {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Raleway, Avenir Next;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
}

#login-box #sign-in-submit:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#login-box #buttons #login-register-button {
    padding: 0;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

#register-box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    z-index: 2000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

#register-box #logo-register {
    width: 105px;
    margin: 50px auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 13px;
    border-bottom: 5px solid royalblue;
}

#register-box p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
}

#register-box #back {
    font-size: 13px;
    font-weight: 500;
    padding-top: 7px;
    color: #888787;
}

#register-box #close-register-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #888787;
    cursor: pointer;
}

#register-box #sign-up-name, #register-box #sign-up-email, #register-box #sign-up-pwd {
    position: relative;
    width: 90%;
    height: 42px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    font-family: Raleway, Avenir Next;
    background-color: none;
}

#register-box #sign-up-name::placeholder, #register-box #sign-up-email::placeholder, #register-box #sign-up-pwd::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

#register-box #buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

#register-box #buttons #sign-up-submit {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Raleway, Avenir Next;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
}

#register-box #sign-up-submit:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#register-box #buttons #register-login-button {
    padding: 0;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

#header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 4000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #logo-header {
    display: flex;
    flex-direction: row;
    margin: auto 7%;
}

/* #header #logo-header #logo-image {
    height: 60px;
    margin: auto 0;
} */

#header #logo-header #logo-text {
    height: 25px;
    font-size: 20px;
    border-bottom: 5px solid royalblue;
    font-weight: bold;
    margin: auto 0;
}

#header #login-button {
    width: 115px;
    height: 45px;
    border: none;
    font-family: Raleway, Avenir Next;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: auto 7%;
}

#login-button:hover {
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------- */

#hero {
    width: 100%;
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(65, 105, 225, 0.40), white);
}

#hero #hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 7%;
}

#hero #hero-container #hero-title {
    font-weight: bold;
    font-size: 32px;
    color: #737577;
    /* color: white; */
    margin-bottom: 15px;
}

#hero #hero-container #hero-title #hero-title-span {
    color: royalblue;
    font-size: 43px;
}

#hero #hero-container #hero-subtitle {
    font-size: 19px;
    /* color: #7b7f83; */
    color: #515355;
}

#sign-up-button {
    width: auto;
    height: 50px;
    background-color: royalblue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    font-family: Raleway, Avenir Next;
    margin-right: 30px;
    margin-top: 20px;
    padding: 0 15px;
}

#demo-button {
    width: auto;
    height: 50px;
    background-color: #eeeeee;
    color: royalblue;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    font-family: Raleway, Avenir Next;
    margin-right: 30px;
    margin-top: 20px;
    padding: 0 15px;
}

#demo-button:hover, #sign-up-button:hover {
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------------------------------------- */

#TIO {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* -------------------------------------------------------------------------------------------------------------- */

#about {
    width: 100%;
    height: auto;
    /* background-color: #f1f1f55d; */
    /* background-image: linear-gradient(to right, rgba(65, 105, 225, 0.40), white); */
    text-align: center;
    padding: 10px 0 50px 0;
}

#about #about-image {
    width: 200px;
    margin: 20px auto;
}

#about #about-title {
    width: 65%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
}

#about #about-title span {
    height: 25px;
    font-size: 20px;
    border-bottom: 5px solid royalblue;
    font-weight: bold;
    margin: auto 7px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#HIW {
    width: 80%;
    height: auto;
    margin: 50px auto;
}

#div-title {
    color: royalblue;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
}

#div-subtitle {
    width: 90%;
    margin: 0 auto;
    color: #3b3c3d;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

.cont-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-image {
    width: 100px;
    /* height: 10px; */
    margin: auto 0;
}

.section-title {
    font-size: 27px;
    font-weight: bold;
    color: royalblue;
    padding: 10px 0;
}

.section-desc {
    width: 90%;
    font-size: 19px;
    color: #8f9194;
    padding: 10px 0;
}

/* -------------------------------------------------------------------------------------------------------------- */

#integration {
    width: 100%;
    height: auto;
    position: absolute;
    top: 200%;
    text-align: center;
}

#integration-title {
    font-size: 32px;
    color: #77797c;
    font-weight: bold;
    padding: 20px 0;
}

#integration-content {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    margin: 0 auto;
}

#editor-view {
    margin: 50px auto;
    width: 75%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editor-view #code-editor {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: left;
    font-family: Raleway, Avenir Next;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#editor-view #code-editor p {
    line-height: 21px;
    color: #222f3e;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    user-select: text;
}

.ce-keyword {
    font-weight: 700;
    color: rgb(116, 143, 224);
    user-select: text;
}

.ce-var {
    font-weight: 500;
    color: rgb(116, 143, 224);;
    user-select: text;
}

.ce-function {
    font-weight: 700;
    color: royalblue;
    user-select: text;
}

.ce-comment {
    color: #a4a5a7;
    user-select: text;
}

.ce-string {
    font-weight: 500;
    color: #d8d9da;
}

.ce-key {
    color: rgb(116, 143, 224);;
    padding-left: 30px;
    user-select: text;
}

.ce-value {
    font-weight: 500;
    color: #d8d9da;
}

.ce-param {
    font-weight: 600;
    font-style: oblique;
    color: #ff9f43;
}

#editor-view #code-editor #copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: rgb(116, 143, 224);;
    cursor: pointer;
}

#editor-view #code-editor #copy-button:hover {
    color: #6771e46c;
    transition: 0.5s;
}

#editor-view #output {
    text-align: left;
    padding-top: 20px;
    font-size: 17px;
    font-weight: bold;
}

#editor-view #code-output {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fafafa;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
}

#editor-view #code-output p {
    /* font-weight: 600; */
    line-height: 21px;
    color: #222f3e;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    user-select: text;
    font-family: Raleway, Avenir Next;
    overflow: scroll;
}

#editor-view #code-output p .ce-key {
    font-weight: 600;
    color: royalblue;
    padding-left: 30px;
    user-select: text;
}

#editor-view #code-output p .ce-indent {
    padding-left: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */

#usecases {
    width: 100%;
    height: auto;
}

#uc-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}

.uc-card {
    width: 300px;
    height: 385px;
    background-color: white;
    border-radius: 3px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.uc-card .uc-data {
    position: relative;
    width: 100%;
    height: 52%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.uc-card .uc-project-title {
    font-size: 21px;
    font-weight: bold;
    color: royalblue;
    padding: 10px;
}

.uc-card .uc-project-desc {
    font-size: 15px;
    color: #6d6b6b;
    padding: 10px;
}

.uc-card .uc-get-started {
    width: 150px;
    height: 45px;
    font-family: Raleway, Avenir Next;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: royalblue;
    border-radius: 3px;
    margin: 10px;
}

#marketplace-link {
    text-align: center;
    color: #737577;
    padding: 30px;
    text-decoration: underline;
}

/* -------------------------------------------------------------------------------------------------------------- */

#contact {
    width: 100%;
    height: auto;
    min-height: 175px;
    text-align: center;
    padding: 5px 0 5px 0;
    background-color: rgb(252, 250, 250);
}

#contact-title {
    width: 85%;
    font-size: 25px;
    font-weight: bold;
    color: #444547;
    margin: 50px auto 10px auto;
}

#contact-subtitle {
    font-weight: 500;
    color: #77797c;
    font-size: 17px;
}

#sign-up-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

#sign-up-container #sign-up-container-email {
    width: 55%;
    height: 40px;
    border-bottom: 1px solid rgba(121, 116, 116, 0.75);
    font-family: Raleway, Avenir Next;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

#sign-up-container #sign-up-container-submit {
    width: 135px;
    height: 42px;
    font-family: Raleway, Avenir Next;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------------------------------------------------------- */

.message-card {
    position: fixed;
    left: 40px;
    bottom: 20px;
    width: auto;
    height: 50px;
    z-index: 5000;
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-card p {
    font-size: 14px;
    font-weight: 600;
    color: royalblue;
    padding: 0 20px;
    margin: auto 0;
}

.message-card p i {
    font-size: 15px;
    padding: 0 7px 0 0;
}

.message-card.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* -------------------------------------------------------------------------------------------------------------- */

#footer {
    width: 100%;
    min-height: 60px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 243, 243);
}

#footer-social {
    margin: auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-social i {
    font-size: 20px;
    cursor: pointer;
    padding: 0 15px;
    color: #888787;
}

#footer-social i:hover {
    color: royalblue;
    transition: 0.5s;
}

#footer p {
    margin: auto 20px;
    font-weight: 600;
    font-size: 14px;
}

#footer p span {
    margin: 0 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 0;
    border-bottom: 3px solid royalblue;
}

/* -------------------------------------------------------------------------------------------------------------- */

@media (max-width: 835px) {
    #hero {
        background-image: linear-gradient(to left, rgba(65, 105, 225, 0.35), white);
    }

    #hero #hero-container #hero-title {
        font-size: 22px;
    }

    #hero #hero-container #hero-title #hero-title-span {
        font-size: 32px;
    }

    #hero #hero-container #hero-subtitle {
        font-size: 15px;
    }

    #about #about-title {
        width: 90%;
    }

    #HIW {
        width: 100%;
        display: block;
    }

    .container {
        display: block;
        margin: 75px auto;
    }

    .cont-text {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .section-title {
        font-size: 22px;
    }

    .section-desc {
        font-size: 17px;
        margin: 0 auto;
    }

    .cont-image {
        margin: 0 auto;
    }

    #sign-up-container {
        width: 95%;
    }

    #sign-up-container-email {
        width: 75%;
        margin: 10px 0;
    }

    #sign-up-container-submit {
        margin: 10px 0;
    }

    #footer {
        height: 100px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #footer-social {
        width: 100px;
        margin: 15px auto 0 auto;
    }
}

/* -------------------------------------------------------------------------------------------------------------- */